<!-- 
<div class="container-fluid">
    <nav class="navbar navbar-primary bg-primary">
      
         
            <div class="container-fluid">
                <div class="row">
                   <div class="col-md-12">
                    <h2 style="color:white;">Employee Management</h2>
                   

                   </div>
                  
                   
                   </div>
               
            </div>
         

            
        

      
      </nav><br><br><br><br><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3>View Employee Here</h3><br>
         
            
                <div class="">
                  
                    <h6><p >You are Viewing Data Id: {{varsha.id}}</p>
                        <p >First Name: {{varsha.firstName}}</p>
                        <p>Last Name: {{varsha.lastName}}</p>  
                        <p >Salary: {{varsha.salary}}</p>   
                        <a >Back to Employee List</a>  </h6>
                </div> 
          
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
 -->
